.header {
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: -50px;
}

.hora {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: end;
    color: white;
}